/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

&pro_micro {
    // Mapeamento dos pinos do Pro Micro para GPIOs
    gpio-map = <0 &gpio0 0 0>,
               <1 &gpio0 1 0>,
               <2 &gpio0 2 0>,
               <3 &gpio0 3 0>,
               <4 &gpio0 4 0>,
               <5 &gpio0 5 0>,
               <6 &gpio0 6 0>,
               <7 &gpio0 7 0>,
               <8 &gpio0 8 0>,
               <9 &gpio0 9 0>,
               <10 &gpio0 10 0>,
               <11 &gpio0 11 0>,
               <12 &gpio0 12 0>,
               <13 &gpio0 13 0>,
               <14 &gpio0 14 0>,
               <15 &gpio0 15 0>,
               <16 &gpio0 16 0>,
               <17 &gpio0 17 0>,
               <18 &gpio0 18 0>,
               <19 &gpio0 19 0>,
               <20 &gpio0 20 0>,
               <21 &gpio0 21 0>,
               <22 &gpio0 22 0>,
               <23 &gpio0 23 0>,
               <24 &gpio0 24 0>,
               <25 &gpio0 25 0>,
               <26 &gpio0 26 0>,
               <27 &gpio0 27 0>,
               <28 &gpio0 28 0>,
               <29 &gpio0 29 0>,
               <30 &gpio0 30 0>,
               <31 &gpio0 31 0>;
};

&kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
    row-gpios = <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    col-gpios = <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&pro_micro 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    diode-direction = "col2row";
};

&encoder_left {
    compatible = "alps,ec11";
    a-gpios = <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    b-gpios = <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    steps = <4>;
};

&encoder_right {
    compatible = "alps,ec11";
    a-gpios = <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    b-gpios = <&pro_micro 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    steps = <4>;
};

&encoder_thumb {
    compatible = "alps,ec11";
    a-gpios = <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    b-gpios = <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    steps = <4>;
};

&led_strip_left {
    compatible = "ws2812-strip";
    chain-length = <10>;
    color-order = "GRB";
    gpio = <&gpio0 13 GPIO_ACTIVE_HIGH>;
};

&led_strip_right {
    compatible = "ws2812-strip";
    chain-length = <10>;
    color-order = "GRB";
    gpio = <&gpio0 14 GPIO_ACTIVE_HIGH>;
};

&sensors {
    compatible = "zmk,keymap-sensors";
    sensors = <&encoder_left &encoder_right &encoder_thumb>;
    triggers-per-rotation = <4>;
};

