#include "draculad.dtsi"

&kscan0 {
    col-gpios = <&pro-micro-a 3 GPIO_ACTIVE_HIGH>,
                <&pro-micro-a 2 GPIO_ACTIVE_HIGH>,
                <&pro-micro-a 1 GPIO_ACTIVE_HIGH>,
                <&pro-micro-a 0 GPIO_ACTIVE_HIGH>,
                <&pro-micro-d 15 GPIO_ACTIVE_HIGH>;
};

&left_encoder {
    status = "okay";
};
