
#include "draculad.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    col-gpios
        = <&pro_micro_d 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro_a 0 GPIO_ACTIVE_HIGH>
        , <&pro_micro_a 1 GPIO_ACTIVE_HIGH>
        , <&pro_micro_a 2 GPIO_ACTIVE_HIGH>
        , <&pro_micro_a 3 GPIO_ACTIVE_HIGH>
        ;
};

&right_encoder {
	status = "okay";
};

&i2c1 {
    status = "okay";
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        label = "OLED";
        reset-gpios = <&pro_micro_d 5 GPIO_ACTIVE_LOW>; // ajuste conforme necessário
    };
};

 / {
    chosen {
        zephyr,display = &ssd1306;
    };
};


