#include "draculad.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    col-gpios = <&pro-micro-d 15 GPIO_ACTIVE_HIGH>,
                <&pro-micro-a 0 GPIO_ACTIVE_HIGH>,
                <&pro-micro-a 1 GPIO_ACTIVE_HIGH>,
                <&pro-micro-a 2 GPIO_ACTIVE_HIGH>,
                <&pro-micro-a 3 GPIO_ACTIVE_HIGH>;
};

&right_encoder {
    status = "okay";
};

&right_encoder2 {
    status = "okay";
};
