/*
 * Draculad - DTSI simplificado e funcional
 * Compatível com ProMicro nRF52840, 3 encoders e ZMK
 */

#include <dt-bindings/zmk/matrix_transform.h>

 / {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <4>;
        map = <
            0 0 0  0 1 0  0 2 0  0 3 0  0 4 0          0 5 0  0 6 0  0 7 0  0 8 0  0 9 0
            1 0 0  1 1 0  1 2 0  1 3 0  1 4 0          1 5 0  1 6 0  1 7 0  1 8 0  1 9 0
            2 0 0  2 1 0  2 2 0  2 3 0  2 4 0  3 1 0   3 8 0  2 5 0  2 6 0  2 7 0  2 8 0  2 9 0
                         3 2 0  3 3 0  3 4 0          3 5 0  3 6 0  3 7 0
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        row-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>,
                    <&gpio0 5 GPIO_ACTIVE_HIGH>,
                    <&gpio0 6 GPIO_ACTIVE_HIGH>,
                    <&gpio0 7 GPIO_ACTIVE_HIGH>;
        col-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>,
                    <&gpio0 1 GPIO_ACTIVE_HIGH>,
                    <&gpio0 2 GPIO_ACTIVE_HIGH>,
                    <&gpio0 3 GPIO_ACTIVE_HIGH>,
                    <&gpio0 15 GPIO_ACTIVE_HIGH>,
                    <&gpio0 8 GPIO_ACTIVE_HIGH>,
                    <&gpio0 9 GPIO_ACTIVE_HIGH>,
                    <&gpio0 10 GPIO_ACTIVE_HIGH>,
                    <&gpio0 11 GPIO_ACTIVE_HIGH>,
                    <&gpio0 12 GPIO_ACTIVE_HIGH>;
        diode-direction = "col2row";
    };

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        b-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
        steps = <4>;
    };

    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
        b-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        steps = <4>;
    };

    thumb_encoder: encoder_thumb {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
        b-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
        steps = <4>;
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder &thumb_encoder>;
        triggers-per-rotation = <4>;
    };
};

