
#include "draculad.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro_a 3 GPIO_ACTIVE_HIGH>
        , <&pro_micro_a 2 GPIO_ACTIVE_HIGH>
        , <&pro_micro_a 1 GPIO_ACTIVE_HIGH>
        , <&pro_micro_a 0 GPIO_ACTIVE_HIGH>
        , <&pro_micro_d 15 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    left_encoder: encoder0 {
        compatible = "zmk,ec11-rotary-encoder";
        label = "Left Encoder";
        gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        events = <&rotate_left_action>, <&rotate_right_action>;
    };
};
